# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
venv/
env/

# --------------------
# Node / React
# --------------------
node_modules/
dist/
build/

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# OS Files
# --------------------
.DS_Store
Thumbs.db